/* Configurações gerais */
body {
  background-color: #F8F8F8; 
  color: #333; 
  font-family: 'Arial', sans-serif; /* Fonte mais neutra e moderna */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  text-align: left;
  line-height: 1.6;
}

/* Container principal */
.container {
  background-color: #FFFFFF; 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
  width: 100%;
  max-width: 900px;
  margin-top: 30px;
  overflow: hidden; 
  box-sizing: border-box; 
}

/* Título principal */
h1 {
  color: #34712F; 
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.3; 
}

/* Subtítulos */
h2, h3 {
  color: #34712F;
  font-size: 28px; /* Uniformiza o tamanho */
  margin-top: 20px;
  font-weight: bold;
}

/* Lista */
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 18px;
  margin-bottom: 15px; 
}

/* Parágrafos */
p {
  font-size: 18px; /* Uniformiza o tamanho */
  margin-bottom: 20px;
}

/* Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #34712F;
  background-color: #F1F4D3; 
}

table th {
  background-color: #34712F; 
  color: white;
}

table tr:nth-child(even) {
  background-color: #E5E5E5; 
}

table tr:hover {
  background-color: #D3D3D3; 
}

/* Botões */
button {
  background-color: #34712F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2C5D3F;  
}

a {
  color: #34712F;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Imagens */
img {
  width: 100%;
  max-width: 100%; 
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
  display: block; 
  object-fit: contain; 
  max-height: 400px; 
}

/* Container para o GIF */
.gif-container {
  display: flex;
  justify-content: center;
  margin-top: 30px; 
}

.gif {
  max-width: 100%;
  height: auto;
}

/* Responsividade: Ajustes para telas menores */
@media (max-width: 768px) {
  .container {
    padding: 20px;
    max-width: 100%; 
  }
  
  h1 {
    font-size: 28px; 
  }

  h2, h3 {
    font-size: 24px; /* Ajustado para ficar mais legível */
  }

  ul li {
    font-size: 16px; 
  }
}
